<div id="left-nav">
  <ul>
    <li><%= link_to "Maître REIKI", "reiki.html" %></li>
    <li><%= link_to "Feu des brûlures", "coupfeu.html" %> </li>
    <li><%= link_to "Feu des rayons de radiothérapie", "radiothérapie.html" %></li>
    <li><%= link_to "Arrêt du tabac", "tabac.html" %></li>
    <li><%= link_to "Tarifs des séances", "tarifs.html" %> </li>
    <li><%= link_to "Séance à distance", "contact.html" %> </li>
    <li><%= link_to "livre d'or", "https://www.jm-magnetiseur.fr/livre_d_or_.I.htm" %> </li>
    <li><%= link_to "Contactez-moi", "contact.html" %> </li>
  </ul>
  <div><%= image_tag "ico-menu.gif", alt: "alttext", id: "ico-menu" %></div>
</div>
