<div id="left-nav">
  <ul>
    <li><%= link_to "Maux que le magnétisme soulage", "#.html" %></li>
    <li><%= link_to "Coupeur de feu - Barreur de feu - Radiothérapie", "#.html" %> </li>
    <li><%= link_to "Brûlures suite radiothérapie (rayons)", "#.html" %></li>
    <li><%= link_to "Tarifs des séances", "#.html" %> </li>
    <li><%= link_to "COMMANDER une séance à distance", "#.html" %> </li>
    <li><%= link_to "Une vie sans tabac j’arrête de fumer !", "#.html" %></li>
    <li><%= link_to "Faire face à l'envie de fumer après votre séance", "#.html" %></li>
    <li><%= link_to "Contactez-moi", "#.html" %> </li>
    <li><%= link_to "livre d'or", "#.html" %> </li>
  </ul>
  <div><%= image_tag "ico-menu.gif", alt: "alttext", id: "ico-menu" %></div>
</div>
