<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item">
    <span><%= link_to "Maître REIKI", "reiki.html" %></span>
  </div>
  <div class="tabs-item dropdown">
    <span>Barreur de feu</span>
      <div class="dropdown-content">
        <span><%= link_to 'Feu des brûlures', "coupfeu.html" %></span>
        <hr>
        <span><%= link_to 'Feu des rayons de radiothérapie', "radiothérapie.html" %></span>
      </div>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Arrêt du tabac', "tabac.html" %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Tarifs des scéances', "tarifs.html" %></span>
  </div>
  <div class="tabs-item">
    <span><%= link_to 'Séance à distance', "téléséance.html" %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to "Livre d'or", 'https://www.jm-magnetiseur.fr/livre_d_or_.I.htm', target: '_blank' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'Contact', 'contact.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A propos', 'about.html' %></span>
  </div>
</div><!-- Fin tabs -->

