<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Maître Reiki<span>
      <div class="dropdown-content">
         <span><%= link_to "Déroulement d'une séance", "pages/reiki.html" %></span>
          <hr>
         <span><%= link_to 'Avant la séance', "avséance.html" %></span>
         <hr>
         <span><%= link_to 'Après la séance', "apséance.html" %></span>
         <hr>
         <span><%= link_to 'Votre part du contrat', "vpdc_séance.html" %></span>

    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Barreur de feu</span>
      <div class="dropdown-content">
        <span><%= link_to 'Feu des brûlures', "#.html" %></span>
        <hr>
        <span><%= link_to 'Feu des rayons de radiothérapie', "#.html" %></span>
        <hr>
        <span><%= link_to 'Urgence ZONA', "#.html" %></span>
      </div>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Arrêt du tabac', "#.html" %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Tarifs des scéances', "#.html" %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to "Livre d'or", 'about.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'Contact', 'contact.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A propos', 'about.html' %></span>
  </div>
</div><!-- Fin tabs -->

