<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Maître Reiki<span>
      <div class="dropdown-content">
         <span><%= link_to 'Sous-Section A1', "#.html" %></span>
          <hr>
         <span><%= link_to 'Sous-Section A2', "#.html" %></span>
         <hr>
         <span><%= link_to 'Sous-Section A3', "#.html" %></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Barreur de feu</span>
      <div class="dropdown-content">
        <span><%= link_to 'Sous-Section B1', "#.html" %></span>
        <hr>
        <span><%= link_to 'Sous-Section B2', "#.html" %></span>
        <hr>
        <span><%= link_to 'Sous-Section B3', "#.html" %></span>
      </div>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Arrêt du tabac', "#.html" %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Tarifs des scéances', "#.html" %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to "Livre d'or", 'about.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'Contact', 'contact.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A propos', 'about.html' %></span>
  </div>
</div><!-- Fin tabs -->

